<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UPDATE CUSTOMER</title>
</head>
<body>
    <nav class="navbar navbar-expand-md fixed-top">
            <div class="container-fluid">
              <a class="navbar-brand" id="brand" href="/home/">FoodPlaza</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" id="links" aria-current="page" href="/home/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="links" href="/menu/">Menu</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="links" href="#">Contact</a>
                  </li>
                    {% if request.session.userid or request.session.adminid %}
                    <li class="nav-item">
                    <a class="nav-link" id="links" href="/logout/">Logout</a>
                  </li>
                    {% else %}
                  <li class="nav-item">
                    <a class="nav-link" id="links" href="/login/">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="links" href="/register/">Register</a>
                  </li>
                    {% endif %}
                  <li class="nav-item dropdown">
                      {% if request.session.userid or request.session.adminid %}
                    <a class="nav-link dropdown-toggle" id="links" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Profile
                    </a>
                      {% endif %}
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {% if request.session.userid %}
                        <li><a class="dropdown-item dditems" href="/showcart/">My Cart</a></li>
                        <li><a class="dropdown-item dditems" href="/myorder/">My Orders</a></li>
                        <li><a class="dropdown-item dditems" href="changepassword/">Change Password</a></li>
                        {% endif %}
                        {% if request.session.adminid %}
                        <li><a class="dropdown-item dditems" href="addfood/">Add Food</a></li>
                        <!--<li><a class="dropdown-item" href="addcustomer/">Add Customers</a></li>-->
                        <li><a class="dropdown-item dditems" href="/graph/">Graphical Information</a></li>
                        <li><a class="dropdown-item dditems" href="changepassword/">Change Password</a></li>
                        {% endif %}
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="text" value="{{form.custname}}" name="custname">
        <input type="text" value="{{form.custemail}}" name="custemail">
        <input type="text" value="{{form.custpass}}" name="custpass">
        <input type="number" value="{{form.custcontact}}" name="custcontact">
        <input type="text" value="{{form.custaddress}}" name="custaddress">
        <button type="submit">submit</button>
    </form>
</body>
</html>